:root {
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
  ===============
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-grey-10);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 320px) {
  p {
    font-size: 13px;
  }

  .button-container {
    margin-top: 2em;
  }
}

@media screen and (min-width: 724px) {
  p {
    font-size: 18px;
  }

  .button-container {
    margin-top: 3em;
  }
}

@media screen and (min-width: 724px) {
  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: #e96a43;
  margin-left: auto;
  margin-right: auto;
}

.review {
  background: var(--clr-white);
  padding: 2rem 2rem;
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 90%;
}

.review:hover {
  box-shadow: var(--dark-shadow);
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: #e96a43;
  color: var(--clr-white);
}

.img-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #e96a43;
  position: absolute;
  top: -0.2rem;
  right: -0.4rem;
  border-radius: 50%;
}

.author {
  margin-bottom: 0.25rem;
  text-align: center;
}

.rating {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #e96a43;
  font-size: 1rem;
}

.info {
  margin-bottom: 0.75rem;
  height: 150px;
}

.prev-btn,
.next-btn {
  color: #e96a43;
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: #e96a43;
}

.random-btn {
  margin-top: 0.6rem;
  background: var(--clr-primary-10);
  color: #e96a43;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: transparent;
  cursor: pointer;
}

.random-btn:hover {
  background: #dfccb7;
  color: #e96a43;
}
